In [59]:
pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [42]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.13/site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in ./.venv/lib/python3.13/site-packages (from sqlalchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.13/site-packages (from sqlalchemy) (4.13.2)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [43]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in ./.venv/lib/python3.13/site-packages (2.9.10)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd

In [45]:
pd.__version__

'2.2.3'

In [66]:
df = pd.read_csv("yellow_tripdata_2021-01.csv")

/var/folders/jq/jtrq1l7d7nv1wxk6dkvpbtpr0000gn/T/ipykernel_12476/1276844879.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("yellow_tripdata_2021-01.csv")

In [67]:
len(df)

1369765

In [47]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [48]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [49]:
engine.connect()

In [50]:
print(pd.io.sql.get_schema(df, "yellow_tripdata_2021_01", con=engine))

CREATE TABLE yellow_tripdata_2021_01 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Convert pickup and dropoff time from text to timestamp

In [51]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Create the table above with respective schema in the postgresql docker container
For that, use SQL Alchemy, the DB toolkit for Python

In [52]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [53]:
df_iter

In [54]:
df = next(df_iter)

In [55]:
len(df)

100000

In [56]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [57]:
df.head(n=0).to_sql(
    name="yellow_tripdata_2021_01",
    con=engine,
    if_exists="replace"
)

0

In [58]:
%time df.to_sql(name="yellow_tripdata_2021_01",con=engine,if_exists="append")

CPU times: user 7.05 s, sys: 291 ms, total: 7.34 s
Wall time: 12.1 s

1000

In [60]:
from time import time

In [61]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_tripdata_2021_01", con=engine, if_exists="append")
    t_end = time()
    print("Inserted another chunk...took %.3f seconds" % (t_end - t_start))

Inserted another chunk...took 12.188 seconds
Inserted another chunk...took 12.618 seconds
Inserted another chunk...took 12.166 seconds
Inserted another chunk...took 14.064 seconds
Inserted another chunk...took 13.312 seconds
Inserted another chunk...took 14.007 seconds
Inserted another chunk...took 15.869 seconds
Inserted another chunk...took 11.844 seconds
Inserted another chunk...took 11.905 seconds
Inserted another chunk...took 12.355 seconds
Inserted another chunk...took 13.214 seconds

/var/folders/jq/jtrq1l7d7nv1wxk6dkvpbtpr0000gn/T/ipykernel_12476/3285274384.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk...took 12.400 seconds
Inserted another chunk...took 7.995 seconds

StopIteration: